<div class="container mt-5">
  <div class="overlay" *ngIf="busy">
    <div class="loader">Loading...</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Purchase AlwaysOn WiFi Voucher <small style="font-size:0.8rem;" class="text-danger">beta</small></h4>
          <h6 class="card-subtitle mb-2 text-muted">Complete the form below. All Fields are Required. <a [routerLink]="['/help']">Need help?</a></h6>
          <hr>
          <div class="card-text">
            <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
              <div class="form-row">
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="customerName">Your Mobile Money Account Name</label>
                    <input type="text" class="form-control" id="customerName" aria-describedby="emailHelp" placeholder="e.g Pantang Francias" name="name" [(ngModel)]="name">
                    <small id="emailHelp" class="form-text text-muted">This can be the name used in registering your Mobile Money account</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="network">Mobile Money Network</label>
                    <select class="form-control" name="network" id="network" aria-describeby="networkHelp" [(ngModel)]="network" required>
                      <option value="airtel">Airtel Mobile Money</option>
                      <option value="tigo">Tigo Cash</option>
                      <option value="mtn">MTN Mobile Money</option>
                    </select>
                    <small id="networkHelp" class="form-text text-muted">We currently support Airtel, MTN and Tigo Mobile Money Payments</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="number">Your Mobile Number</label>
                    <input type="text" name="phone_number" class="form-control" id="phone_number" placeholder="e.g 0269201707" aria-describeby="phone_numberHelp" [(ngModel)]="phone_number" required maxlength="10">
                    <small class="text-muted form-text" id="phone_numberHelp">The Mobile Money number the payment will come from. It should belong to you.</small>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div class="form-group">
                    <label for="internet_package">Internet Package</label>
                    <select class="form-control" name="internet_package" id="internet_package" aria-describeby="packageHelp" [(ngModel)]="internet_package" required>
                      <option value="0.3gig">300 Mb - 3 Days - 2 Cedis</option>
                      <option value="1gig">1 Gig - 30 Days - 5 Cedis</option>
                      <option value="3gig">3 Gig - 30 Days - 10 Cedis</option>
                      <option value="10gig">10 Gig - 30 Days - 30 Cedis</option>
                    </select>
                    <small id="packageHelp" class="form-text text-muted">Choose your package</small>
                  </div>
                </div>
              </div>
              <a class="btn btn-primary text-white" role="button" data-toggle="modal" data-target="#reviewPurchase">Review Purchase</a>
              <!-- Review Purchase Modal -->
              <div class="modal fade" id="reviewPurchase" tabindex="-1" role="dialog" aria-labelledby="reviewPurchase" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="reviewPurchase">Review your Purchase</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div *ngIf="success">
                        <p class="lead text-success">
                          Write this Number Somewhere. It is your AlwaysOn WiFi Voucher
                        </p>
                        <h2 class="text-center">{{ result }}</h2>
                        <hr>
                        <p>Your Transaction ID is: {{ trans_id }}</p>
                      </div>
                      <p class="lead text-danger" *ngIf="error">
                        Error Message
                        <br/> "{{ msg }}"
                      </p>
                      <ul class="list-group" *ngIf="f.valid">
                        <li class="list-group-item">Name: <strong>{{ f.value.name}}</strong></li>
                        <li class="list-group-item">Mobile Money Network: <strong>{{ f.value.network }}</strong></li>
                        <li class="list-group-item">Your Number: <strong>{{ f.value.phone_number }}</strong></li>
                        <li class="list-group-item">Internet Package: <strong>{{ f.value.internet_package }}</strong></li>
                      </ul>
                      <hr>
                      <p class="lead text-center text-danger" *ngIf="!f.valid">
                        You have not fully completed the form. Go back and complete the required fields.
                      </p>
                      <p class="lead text-center" *ngIf="f.valid">
                        Proceed below if details above is correct.
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
                      <button *ngIf="!error" type="submit" [disabled]="!f.valid" role="button" class="btn btn-primary" [ngClass]="{ 'btn-outline-danger': !f.valid }"><span *ngIf="f.valid">Make Payment</span><span *ngIf="!f.valid">Invalid Form</span></button>
                      <a *ngIf="error" onclick="window.location.reload()" class="btn btn-danger">Retry again.</a>
                      <a *ngIf="success" onclick="window.location.reload()" class="btn btn-secondary">Purchase Another</a>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
