<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">Buy AlwaysOn WiFi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/help']" routerLinkActive="active">Help</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn btn-secondary" href="https://enjoywifi.today" target="new">EnjoyWiFi.today</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<div class="container text-center my-3">
  <hr>
  <a href="https://www.enjoywifi.today/about" target="blank" class="card-link">About AlwaysOn WiFi</a>
  <a href="https://www.enjoywifi.today/support" target="blank" class="card-link">Contact us</a>
  <a class="card-link text-muted"><small>026.920.1707</small></a>
  <a class="card-link text-muted"><small>alwayson@khophi.co</small></a>
  <a class="card-link text-muted"><small>Version 0.6.2</small></a>
</div>
